.intro {
  margin: 0;
 position: absolute;
 top: 50%;  left: 50%;
 width: 20%;
 height: 50% auto;
 transform: translate(-50%, -50%);
}
.logo {
	width: 120px;
	margin-left: 30px;
}
.start {
  margin: 0;
 position: absolute;
 top: 50%;  left: 50%;
 width: 15%;
 height: 10%;
 transform: translate(-50%, -50%);
 border-radius: 30px;
 color: antiquewhite;
 background-color: rgb(1, 45, 201);
 font-size: 20px;
 border-color: transparent;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
}